<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-statusbar"
    version="4.0.0">
    <name>StatusBar</name>
    <description>Cordova StatusBar Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,statusbar</keywords>

    <engines>
            <engine name="cordova" version=">=3.0.0" />
            <engine name="cordova-android" version=">=10.0.0" />
            <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <!-- Logics fork (4.0.0-logics): iOS-only variant of cordova-plugin-statusbar 4.0.0. The Android platform block, src/android and the
         Android side of the window.StatusBar js-module are removed: with cordova-android 15+ the core paints the status bar itself, and the
         plugin's Android StatusBar.initialize() replaces the decor's system-UI visibility (drops SYSTEM_UI_FLAG_LAYOUT_FULLSCREEN), which on
         API 21-27 makes the core's statusBarView cover the whole WebView (apache/cordova-android#1947). -->

    <platform name="browser">
        <js-module src="www/statusbar.js" name="statusbar">
            <clobbers target="window.StatusBar" />
        </js-module>

        <js-module src="src/browser/StatusBarProxy.js" name="StatusBarProxy">
            <runs />
        </js-module>
    </platform>

    <platform name="ios">
        <js-module src="www/statusbar.js" name="statusbar">
            <clobbers target="window.StatusBar" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="StatusBar">
                <param name="ios-package" value="CDVStatusBar" />
                <param name="onload" value="true" />
            </feature>
            <preference name="StatusBarOverlaysWebView" value="true" />
            <preference name="StatusBarStyle" value="lightcontent" />
        </config-file>

        <header-file src="src/ios/CDVStatusBar.h" />
        <source-file src="src/ios/CDVStatusBar.m" />
    </platform>
</plugin>
